@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeUp {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}

.animate-fadeUp-delayed-1 {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-fadeUp-delayed-2 {
  animation: fadeUp 1s ease-out forwards;
}

.animate-fadeUp-delayed-3 {
  animation: fadeUp 1.2s ease-out forwards;
}
